.menu-item {
    padding: 0 40px;
    margin: 5px 10px;
    user-select: none;
    cursor: pointer;
    border: none;
}
.menu-item-wrapper.active {
    border: none;
    outline: none;
}
.menu-item.active {
    border: none;
    outline: none;
}

.scroll-menu-arrow {
    padding: 20px;
    cursor: pointer;
}
.button-slider{
    position: relative;
    /*bottom: 0;*/
    /*width: 100vw;*/
    color: black;



}

.wraper{
    position: relative;
    top:300px;
    height: 60vh;
}
.arrow{
 cursor: pointer;
    position: absolute;
    top: 100px;
}
.larrow{
    left: 100px;
}
.rarrow{
    left: 250px;
}
.arrow:hover{
    transform: translateY(2px);
}
.arrow:active{
    transform: translateY(4px);
}

.button-card{
    height: 300px;
    width: 600px;
    border-radius: 10%;
    background-color: #5DD9FF;
    margin: 10px;
    position: relative;
    margin-top: 60px;
    cursor: pointer;

}

@media only screen and (max-width: 600px) {
    .wraper{
        position: relative;
        top:170px;
        height: 60vh;
    }
    .arrow{
        height: 80px;
        top:50px
    }
    .larrow{
        left: 10px;
    }
    .rarrow{
        left: 100px;
    }
}
